@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/* Url de las tipografias de la pagina */
@import url('https://fonts.googleapis.com/css?family=Jockey One');
@import url('https://fonts.googleapis.com/css?family=K2D');
body{
  background-color: #eee4e1;
}
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}
/*Header es todo el apartado de las interacciones con los botonoes, su organizacion, la barra de busqueda y la ubicacion de cada uno. */
header{
  width: auto;
  height: 80px;
  background-color:#654321;
  border-radius: 0px 0px 0px 150px;
   display: flex;
   justify-content: space-between;
 }
.nav-container{
  width: auto;
  display: flex;
  align-content: space-between;
 }

 .logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titulo{
  
    font-size: 25px;  
    text-align: letf; 
    padding-bottom: 20px; 
    background-color:transparent;
    color: 	#e8bd7b;
    font-size: 25px;
    font-family: 'Jockey One';
  
}

h1{
	font-size: 25px;  
	text-align: letf; 
	padding-bottom: 20px; 
  background-color:transparent;
	color: #ab4493;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  font-family: 'Jockey One';
}


.buttons{
  display: flex;
  align-items: center;
}
.botones{
  display: flex;
  list-style: none;
 margin-left: 20px;
}
.botones li{
  margin: 0 25px;
}
.botones li a{
  color: #ffcda2;
  text-decoration: none;
  font-family: 'K2D';
  font-weight: 800;
  font-size: 20px;
}
.botones li a:hover{
  color: rgb(255, 162, 0);
}
 /* Espacio2 es donde se ubica el carrusel, el boton flotante, el ancho y largo del mismo para que todo su contenido este compacto*/ */
.espacio2{
  width: 100%;
  background-color: #d4b69e;
  display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contenido{
 height: 30px;
 background-color:#ffc8dd;
 display: flex;
 justify-content: center;
 align-items: center;
}

.pestana-sticky{
  width: 350px;
  height: 60px;
  background-color: #c58d7c;
  /* position: absolute;
  top: 20%; */
  border-radius: 30px 30px 30px 0px;
}

/* Slider-frame, son las caracteristicas de las imagenes dentro del carrusel, el movimiento, ejecutar el tiempo y el ajuste a cada una */
.slider-frame {
	max-width: 1200px;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	width: 300%;
  animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 65%;
	list-style: none;
}

.slider-frame img {
	width: 75%;
}

/* Keyframes es la animacion*/
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;} 
	 70% {margin-left: -200%;} 

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

h2{
  font-family: 'Jockey One';
    font-size: 65px;
  color: black;
  background-color:white;
  text-align: center;
}

.horizontal-container{
  width:auto;
   word-wrap: break-word;
   height: 600px;
  display: flex;
   justify-content: center;
   flex-direction: column;
 }

.nosotros{
 width: auto;
 font-size: 40px;
 display: flex;
 font-family: 'Jockey One';
 color:#000;
  text-align: center;
}

.cont-carrusel{
  width: 100%;
   height: auto;
   background-color: #dbd1ce;
   display:flex;
   align-items:center;
   flex-direction:column;
   
 }
 .boton_plantillas{
  display: flex;
justify-content: center;
 }

/*Espacio3 es la seccion, el color de fondo donde se ubica el trailer de la semana, sirve para orientaren especifico el apartado y que no se salga de los limites */
.espacio3{
  width: 100%;
 height: 700px;
 background-color: #eee4e1;;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
}

.formulario{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-formulario{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


.textarea-formulario{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


.button-formulario{
	height: 45px;  	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
  color: #fff;
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}



.empresa{
  width: 100%;
 height: 90px;
 background-color: white;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
  
} 

/* cont-carrusel, main,pelis y item explican  las funciones que hace cada elemento o imagen ubicados en el espacio, con un alto y ancho especificos. Tambien la estructura y animaciones que hace cada boton el el espacio*/
/* .pelis{
  width: 100%;
 height: 480px;
 background-color: #c6aa43;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
} */


/* main#items-carrusel{
  width:100vw;
  height: 100vh;
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  display: flex;
  align-items: center;
    justify-content:center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 5000px;
  --items: 7;
  --middle: 3;
  --posicion: 1;
  pointer-events: none;
} */

/* .item{
  width: 1000px;
  height: 420px;
  background-color: #C39A07;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  --r: calc(var(--posicion) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--posicion) - var(--abs)));
} */

/* .item:nth-of-type(1){
  --offset: 1;
  background-color: black;
   background-color: black;
  background-image: url('agendakwai.png');
   background-size: 40%;
  background-position: 0px -20px;
  background-repeat: no-repeat;
}

.item:nth-last-of-type(2){
  --offset: 2;
  background-color: black;
   background-color: black;
  background-image: url('cuaderno.jpeg');
   background-size: 40%;
  background-position: 0px -20px;
  background-repeat: no-repeat;
}
.item:nth-of-type(3){
  --offset: 3;
  background-color: black;
  background-image: url('');
   background-size: 100%;
  background-position: 0px -80px;
  background-repeat: no-repeat;
}

.item:nth-last-of-type(4){
  --offset: 4;
  background-color: black;
  background-image: url('https://www.eltiempo.com/uploads/2023/02/28/63fe1c2d591a2.jpeg');
   background-size: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.item:nth-of-type(5){
  --offset: 5;
  background-color: black;
  background-color: black;
  background-image: url('https://www.cyberpunk.net/build/images/edgerunners/phase2/cover-desktop@1x-e6d6aaa1.jpg');
   background-size: 100%;
  background-position: 0px -10px;
  background-repeat: no-repeat;
} */

/* Input son la cantidad de imagenes que tiene que mover, para que asi no sea descontinuo y sea extraño el movimiento */
input:nth-of-type(1){
  grid-column: 2 / 3;
  grid-row: 2;
}
input:nth-of-type(1):checked ~ main#items-carrusel{
  --posicion: 1;
}

input:nth-of-type(2){
  grid-column: 3 / 4;
  grid-row: 2;
}
input:nth-of-type(2):checked ~ main#items-carrusel{
  --posicion: 2;
}
input:nth-of-type(3){
  grid-column: 4 / 5;
  grid-row: 2;
}
input:nth-of-type(3):checked ~ main#items-carrusel{
  --posicion: 3;
  }

input:nth-of-type(4){
  grid-column: 5 / 6;
  grid-row: 2;
}
input:nth-of-type(4):checked ~ main#items-carrusel{
  --posicion: 4;
  }
input:nth-of-type(5){
  grid-column: 6 / 7;
  grid-row: 2;
}
input:nth-of-type(5):checked ~ main#items-carrusel{
  --posicion: 5;
  }



/*Galeria- li inclido "hover" determinan la ubicacion, las funciones, el tiempo, las animaciones y los colores del apartado de series animadas mas relevantes en los servicios de streaming */
.galeria{
  width: 100%;
  height: auto;
 
  display:flex;
  align-items:center;
  flex-direction:column;
}
.galeria li{
   width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .9;
  transition: .5s ease;
   justify-content: space-between;

}
.galeria li:hover{
  cursor: crosshair;
  width: 250px;
  opacity: 1;
  filter: contrast(120%);
}

/*Footer define la altura, el fondo, el ancho, su orientacion para luego ser unicadas las redes sociales y algunos botones en especifico */
footer{
  width: auto;
  height: 250px;
  position:relative;
  background-color:rgb(99, 55, 19);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.iconosfootercontenido, .menufootercontenido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.iconosfooter{
  height: 50px;
  width: 50px;
  border-radius: 50px ;
  border: 1px solid white;
  background-image: url("https://cdn-icons-png.flaticon.com/512/174/174848.png");
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  margin: 1rem;
}
.iconosfooter:hover{
  background-color: white;
  filter: invert(1);
}
.iconosfooter:nth-of-type(2){
  background-image: url("https://cdn-icons-png.flaticon.com/512/174/174855.png");
}
.iconosfooter:nth-of-type(3){
  background-image: url("https://w7.pngwing.com/pngs/986/124/png-transparent-tiktok-social-media-logos-brands-icon-thumbnail.png");
}
.iconosfooter:nth-of-type(4){
  background-image: url("https://cdn.icon-icons.com/icons2/70/PNG/512/youtube_14198.png");
}

/*MenuFooter y copyright es el color, la tipografia y el tamaño de los botones- texto ubicados en el footer, tambien se evidencia el llamado a una fuente en especifico o algunas margenes  */
.menufootercontenido{
  list-style-type: none;
  color: rgb(211, 153, 153);
  font-size: 30px;
}
.menufooter{
  margin: 1rem 1.5rem;
  cursor: pointer;
   font-family: 'Jockey One';
}
.menufooter:hoover{
  opacity:1;
}
.copyright{
  color: white;
  opacity: 0.3;
  text-align: center;
   font-size: 30px;
}
@media(max-width: 768px){
  .titulo{
    font-size: 20px;
  }
  .botones li{
    margin: 0 15px;
  }
  .botones li a{
    font-weight: 300;
    font-size: 15px;
  }

  .menufootercontenido{
    font-size: 20px;
  }

  .copyright{
     font-size: 15px;
  }
}
.seccion_formulario{
  font-size: 30px;
  align-items: first baseline;
}
.plantillas{
  background-color: #ed5c93;
  width: auto;
  padding: 6px;
  border-radius: 5px;
  text-decoration: none;
  color: #dbd1ce;
  text-align: center;
  white-space: nowrap;
}
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 0; /* Eliminar el espacio en blanco */
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-float:hover {
  background-color: #128c7e;
  color: #fff;
}

.whatsapp-float i {
  line-height: 60px;
  font-size: 30px; /* Ajustar el tamaño del icono */
}

