
discosdorados {
  width: 100px;
  height: 100%;
}
/* Url de las tipografias de la pagina */
@import url('https://fonts.googleapis.com/css?family=Jockey One');
@import url('https://fonts.googleapis.com/css?family=K2D');

/* Body es el fondo de la pagina, sin especificar margenes */
body{
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

/*Header es todo el apartado de las interacciones con los botonoes, su organizacion, la barra de busqueda y la ubicacion de cada uno. */
header{
 width: 100%;
 height: 80px;
 background-color: rgb(41, 0, 55);
  border-radius: 0px 0px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 15px 100px;
  z-index: 10;
}
header .botones{
  color: white;
display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}
header .botones li{
  list-style: none;
  margin: 0 50px;
}
header .botones li a{
  color: #ffc8dd;
  text-decoration: none;
  font-family: 'K2D';
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 25px;
}
header .botones li a:hover{
  color: white;
}
header .buscador{
  position: relative;
  width: 300px;
  height: 40px;
}
header .buscador input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffc8dd;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}
p {
  display: flex;
  align-items: center;
  margin-left: 10px;
   font-family: 'Jockey One';
     font-size: 55px;
   color:#ffc8dd;
  text-align: center;
   padding-top: 15px;
}

/* Contenido es el boton flotante sobrepuesto en el carrusel */
.contenido{
  width: 100%;
 height: 30px;
 background-color:#ffc8dd;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
}

/* Espacio1 determina el color, el ancho y largo del seccionamiento entre el header y el carrusel*/
.espacio1{
  width:100%;
 height: 30px;
 background-color: white;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
}

/* Espacio2 es donde se ubica el carrusel, el boton flotante, el ancho y largo del mismo para que todo su contenido este compacto*/
.espacio2{
  width: 100%;
 height: 500px;
 background-color: #C39A07;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

/* h1 y pesta単a sticky es el contenido/texto del boton flotante, se determina la ubicacion y que tan grande es */
h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    color: black;
  font-family: 'Jockey One';
  font-size: 36px;
}

.pestana-sticky{
  width: 350px;
  height: 60px;
  left: 0;
  background-color: #eee4e1;
  position: absolute;
  top: 20%;
  border-radius: 30px 30px 30px 0px;
}

/* Slider-frame, son las caracteristicas de las imagenes dentro del carrusel, el movimiento, ejecutar el tiempo y el ajuste a cada una */
.slider-frame {
	width: 900px;
    height: 900px;
	margin:0px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

/* Keyframes es la animacion*/
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* h2 y "Novedades" es la ubcicacion, la tipografia y el subtitulo de la seccion valga la redundancia: novedades*/
h2{
  font-family: 'Jockey One';
    font-size: 65px;
  color: black;
  text-align: center;
}
.novedades{
  width: 100%;
 height: 90px;
 background-color: white;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
}

/* cont-carrusel, main,pelis y item explican  las funciones que hace cada elemento o imagen ubicados en el espacio, con un alto y ancho especificos. Tambien la estructura y animaciones que hace cada boton el el espacio*/
.pelis{
  width: 100%;
 height: 480px;
 background-color: #C39A07;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
}
.cont-carrusel{
 width: 100%;
  height: auto;
  background-color: #C39A07;
  display:grid;
  grid-template-rows: 420px 35px;
  grid-template-columns:  1fr 40px 40px 40px 40px 40px 1fr;
  align-items: center;
  justify-items:center;
}

main#items-carrusel{
  width:100vw;
  height: 100vh;
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  display: flex;
  align-items: center;
    justify-content:center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 5000px;
  --items: 7;
  --middle: 3;
  --posicion: 1;
  pointer-events: none;
}

.item{
  width: 1000px;
  height: 420px;
  background-color: #C39A07;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  --r: calc(var(--posicion) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--posicion) - var(--abs)));
}

.item:nth-of-type(1){
  --offset: 1;
  background-color: black;
   background-color: black;
  background-image: url('https://i.blogs.es/16e585/breaking-bad/1366_2000.jpg');
   background-size: 100%;
  background-position: 0px -20px;
  background-repeat: no-repeat;
}

.item:nth-last-of-type(2){
  --offset: 2;
  background-color: black;
   background-color: black;
  background-image: url('https://www.rockandpop.cl/wp-content/uploads/2021/06/the-boys-1.jpg');
   background-size: 100%;
  background-position: 0px -20px;
  background-repeat: no-repeat;
}
.item:nth-of-type(3){
  --offset: 3;
  background-color: black;
  background-image: url('https://occ-0-1567-2433.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABWl6gmeKf8xy9fHDqwIaNOeNOX_DoJ1T2xnIRQE0Cn23w2vQGHX98swU0L0HKcW5Ay6NQJt5y2_neuMro7JBcQBN2AqQlBwuxHUX.jpg?r=1ff');
   background-size: 100%;
  background-position: 0px -80px;
  background-repeat: no-repeat;
}

.item:nth-last-of-type(4){
  --offset: 4;
  background-color: black;
  background-image: url('https://www.eltiempo.com/uploads/2023/02/28/63fe1c2d591a2.jpeg');
   background-size: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.item:nth-of-type(5){
  --offset: 5;
  background-color: black;
  background-color: black;
  background-image: url('https://www.cyberpunk.net/build/images/edgerunners/phase2/cover-desktop@1x-e6d6aaa1.jpg');
   background-size: 100%;
  background-position: 0px -10px;
  background-repeat: no-repeat;
}

/* Input son la cantidad de imagenes que tiene que mover, para que asi no sea descontinuo y sea extra単o el movimiento */
input:nth-of-type(1){
  grid-column: 2 / 3;
  grid-row: 2;
}
input:nth-of-type(1):checked ~ main#items-carrusel{
  --posicion: 1;
}

input:nth-of-type(2){
  grid-column: 3 / 4;
  grid-row: 2;
}
input:nth-of-type(2):checked ~ main#items-carrusel{
  --posicion: 2;
}
input:nth-of-type(3){
  grid-column: 4 / 5;
  grid-row: 2;
}
input:nth-of-type(3):checked ~ main#items-carrusel{
  --posicion: 3;
  }

input:nth-of-type(4){
  grid-column: 5 / 6;
  grid-row: 2;
}
input:nth-of-type(4):checked ~ main#items-carrusel{
  --posicion: 4;
  }
input:nth-of-type(5){
  grid-column: 6 / 7;
  grid-row: 2;
}
input:nth-of-type(5):checked ~ main#items-carrusel{
  --posicion: 5;
  }

/*Espacio3 es la seccion, el color de fondo donde se ubica el trailer de la semana, sirve para orientaren especifico el apartado y que no se salga de los limites */
.espacio3{
  width: 100%;
 height: 550px;
 background-color: grey;
   display: flex;
  flex-flow: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
}
/*h3 son las caracteristicas que lleva el subtitulo "trailer de la semana", se define la tipografia, el tama単o entre otros */
h3{
  font-family: 'Jockey One';
    font-size: 60px;
  color: black;
  text-align: center;
}

/*Galeria- li inclido "hover" determinan la ubicacion, las funciones, el tiempo, las animaciones y los colores del apartado de series animadas mas relevantes en los servicios de streaming */
.galeria{
  display: flex;
  width: 100%;
  height: 750px;
  justify-content: center;
}
.galeria li{
   width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .9;
  transition: .5s ease;
}
.galeria li:hover{
  cursor: crosshair;
  width: 250px;
  opacity: 1;
  filter: contrast(120%);
}

/*Footer define la altura, el fondo, el ancho, su orientacion para luego ser unicadas las redes sociales y algunos botones en especifico */
footer{
   width:100%;
  height: 300px;
  position: absolute;
  background-color:black;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
/*Logo e iconos, tanto estas funciones como sus derivaciones, explican su ubicacion, cual es su objetivo, las imagenes que llama de la web y como estas deben estar en determinado espacio  */
.logo{
 height: 140px;
  margin-bottom: 1rem;
}
.iconosfootercontenido, .menufootercontenido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.iconosfooter{
  height: 50px;
  width: 50px;
  border-radius: 50px ;
  border: 1px solid white;
  background-image: url("https://cdn-icons-png.flaticon.com/512/174/174848.png");
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  margin: 1rem;
}
.iconosfooter:hover{
  background-color: white;
  filter: invert(1);
}
.iconosfooter:nth-of-type(2){
  background-image: url("https://cdn-icons-png.flaticon.com/512/174/174855.png");
}
.iconosfooter:nth-of-type(3){
  background-image: url("https://w7.pngwing.com/pngs/986/124/png-transparent-tiktok-social-media-logos-brands-icon-thumbnail.png");
}
.iconosfooter:nth-of-type(4){
  background-image: url("https://cdn.icon-icons.com/icons2/70/PNG/512/youtube_14198.png");
}

/*MenuFooter y copyright es el color, la tipografia y el tama単o de los botones- texto ubicados en el footer, tambien se evidencia el llamado a una fuente en especifico o algunas margenes  */
.menufootercontenido{
  list-style-type: none;
  color: rgb(211, 153, 153);
  font-size: 30px;
}
.menufooter{
  margin: 1rem 1.5rem;
  cursor: pointer;
   font-family: 'Jockey One';
}
.menufooter:hoover{
  opacity:1;
}
.copyright{
  color: white;
  opacity: 0.3;
  text-align: center;
   font-size: 30px;
}
